<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Salom Xush Kelibsiz</p>
{% if user.is_authenticated %}
<p>Siz Tizim ichidasiz</p>
    <a href="{% url 'profile' %}">Profil</a><br>
    <a href="{% url 'friend' %}">My Acharya Friends</a><br>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Tizimdan Chiqish</button>
    </form>
{% else %}
<p>Siz tizim ichida emassiz! Quyidagi havoladan foydalaning</p>
<a href="{% url 'login' %}">Tizimga Kirish</a>
<p>Accountingiz yo'qmi</p><a href="{% url 'register' %}">Ro'yxatdan o'tish</a>
{% endif %}<br>


</body>
</html>